.ad-organism-header {
    display: flex;
    padding: 4% 11% 0% 11%;
}

.ad-organism-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 7vh 5vw 10vh 5vw;
    gap: 3em;
}

.ad-organism-main--portfolio {
    flex-direction: column;
    gap: 7em;
}

.ad-organism-footer {
    padding: 1.5em;
    text-align: center;
    width: 100vw;
    background: var(--color-tertiary);
}