@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F5EDED;
    --cor-terciaria: #F8D33B;
    --cor-hover: #272727;



    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

    --tamanho-fonte-primaria: 2.5rem;
    --tamanho-fonte-secundaria: 1.5rem;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* Icones Bootstrap */
.bi {
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 4% 0% 0% 20%;
}

.cabecalho__menu {
    display: flex;
    align-items: center;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
}

.cabecalho__menu__link--download {
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    background-color: var(--cor-terciaria);
    padding: 10px 20px;
    border-radius: 8px;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6% 20%;
    gap: 84px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {   
    font-size: var(--tamanho-fonte-primaria);
    font-family: var(--fonte-primaria);
}

.apresetacao__conteudo__titulo--destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: var(--tamanho-fonte-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: var(--tamanho-fonte-secundaria);
    color: var(--cor-secundaria);
    font-weight: 400;
    line-height: 40px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    border: 2px solid var(--cor-terciaria);
    color: var(--cor-secundaria);
    width: 60%;
    font-size: var(--tamanho-fonte-secundaria);
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    gap: 16px;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 3% 4%;
}

.apresentacao__imagem {
    width: 50%;
    border-radius: 20px;
    max-width: 467.705px;
    box-shadow: 30px 30px 0px var(--cor-hover);
    padding: 5px 20px 20px 5px;
    border: 3px solid var(--cor-terciaria);

}

.apresentacao__conteudo__identificacao {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.apresentacao__conteudo__identificacao__nome {
    --tamanho-fonte-primaria: 2.7rem;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-size: var(--tamanho-fonte-primaria);
}

.apresentacao__conteudo__identificacao__cargo {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: var(--tamanho-fonte-secundaria);

}

.apresentacao__conteudo__identificacao__cargo--destaque {
    color: var(--cor-terciaria);
    font-weight: bold;
}

.apresentacao__conteudo__div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--cor-terciaria);
    padding: 40px 60px 45px 60px;
    border-radius: 10px;
}

.apresentacao__conteudo__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: var(--tamanho-fonte-secundaria);
    color: var(--cor-secundaria);
    font-weight: 400;
    line-height: 40px;
}

.apresentacao__conteudo__lista {
    display: flex;
    flex-direction: column;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-fonte-secundaria);
    font-weight: 400;
    gap: 10px;
}

.apresentacao__conteudo__lista--destaque {
    color: var(--cor-terciaria);
    font-weight: bold;
}

.apresentacao__conteudo__lista__link {
    color: var(--cor-terciaria);
    text-decoration: none;
}

.rodape {
    background: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-fonte-secundaria);
    font-weight: 400;
    width: 100vw;
    bottom: 0;
    position: fixed;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 15%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        align-items: center;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
        height: 100vh;
    }

    .apresentacao__imagem {
        width: auto;
        padding: 5%;
    }

}